@(apiList: Seq[ApiListItem], selected: Option[String])

@paragraphText = @{s"${selected.getOrElse("Select an API")} (click to switch)"}

<header class="header">
    <h1>
        <a href="@routes.HomeController.index()">URL Helper</a>
    </h1>
    @if(apiList.nonEmpty) {
        <div class="header-menu">
            <div class="header-burger" onclick="toggleNav()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="header-menu-contents">
                @* API Toggle *@
                <div class="api-grouping-toggle">
                    <button class="dropdown-menu" onclick="toggleApiList()" accesskey="a">@paragraphText</button>
                    <ul class="hidden">
                    @for(item <- apiList) {
                        <li><a href="@routes.ApiController.index(item.name)">@item.friendly_name</a></li>
                    }
                    </ul>
                </div>
                @* Generate OAuth *@
                <a class="generate-auth" href="@routes.GenerateController.index()">Generate new OAuth Data</a>
            </div>

        </div>
    }
</header>